<footer>
    <div class="main-footer">

        <div class="footer-container">

            <ul>
                <li><a href="home">About</a></li>
                <li><a href="locationMap">Locations</a></li>
                <li><a href="resources">Resources</a></li>

            </ul>

        </div>

    </div>
</footer>
</body>


</html>