<section class="main-content" id="main-content">


    <% for (allPosts of inventoryArray) { %>

        <div class="post-container">

            <a href="/views/pages/posts <%= post._id %>">
            </a>
            <h4>
                <%= post.name %>
            </h4>
            <br>

            <%= post.date %>
                <p>
                    <%= post.content %>
                </p>
                </a>
        </div>
        <% } %>
</section>