<div class="location-container">
    <ul>
        <li><a href="location1">Harvard Square</a></li>
        <li><a href="location2">The Port</a></li>
        <li><a href="location3">Riverside</a></li>
        <li><a href="location4">Union Square</a></li>
        <li><a href="location5">Winter Hill</a></li>
    </ul>
</div>