<form id="post-form" method="POST" action="/posts">
    <label for="name" class="name" id="name">Name </label>
    <br>
    <input type="text" id="name" name="name" class="name" required>
    <p>
        <input type="radio" id="rad1" name="rad1" value="volunteer" checked>
        <label for="volunteer">Volunteer</label>

        <br>
        <input type="radio" id="rad2" name="rad2" value="community-member">
        <label for="community-member">Community Member</label>
    </p>
    <p>
        <label for="content">Content</label>
        <br>
        <textarea id="content" name="content" class="textbox" required></textarea>
    </p>
    <input type="submit" id="submit-post" class="submit" value="Submit Post">

</form>