:root {
    --darkblue: #405965;
    --lightteal: #7eb8b8;
    --lightsand: #f2f4f0;
    --darksand: #d4ccbb;
    --darkgray: #414344;
    --gray: #808080;

}


body {
    height: 100%;
    margin: 0;
    /* background: #D9C3B0; */
    background-repeat: no-repeat;
    background-attachment: fixed;
}


h1,
h2,
h3,
h4 {
    font-family: 'Sora', sans-serif;
    font-size: 2em;
    padding: 10px, 0px;
    border-bottom: 4px dotted var(--darkblue);
    display: flex;
    align-items: center;

}

.images {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.icon {
    width: 100%;
    height: 100%;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}




/* --HEADER-- */

.icon {
    padding: 20px;
}


.hamburger {
    display: flex;
    font-size: 3rem;
    padding: 1rem;
    justify-content: flex-end;
    width: 100%;
}




header {
    position: sticky;
    top: 0;

}

.main-header {
    display: flex;
    background-color: var(--lightteal);
    border-bottom: 4px solid var(--darkblue);
    font-family: 'Quicksand', sans-serif;
    width: 100%;



}

.header-nav {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 10px;
    flex-wrap: wrap;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}



header a {
    padding: 4px;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: auto;
}

.header-logo {
    padding: 10px, 0px;
    display: flex;
    margin: 5px;
    justify-content: flex-start;
}



a:link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

/* visited link */
a:visited {
    color: var(--lightsand);
}

/* mouse over link */
a:hover {
    color: #405965;
}

/* selected link */
a:active {
    color: gray;
}


i {
    color: var(--lightsand);
}




/* --FOOTER-- */
.main-footer {
    display: flex;
    background-color: var(--lightteal);

    border-top: 4px solid var(--darkblue);
    margin: auto;
    width: 100%;
    height: 100px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 60%;
    font-family: 'Quicksand', sans-serif;
    align-items: center;
    padding: 10px;
}






/* --HOME / ABOUT--*/

.home-container {
    border: 4px solid var(--darkblue);
    background-color: white;
    border-radius: 10px;
    margin: 3vh auto;
    padding: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-left {
    display: block;
    padding: 20px;
    width: 80%;
    margin: auto;


}

.container-right {
    display: block;
    padding: 5px;


}

/* --LOGIN--*/
/* --ADMIN--*/
/* --DONATION RULES--*/
/* --RESOURCES--*/
/* --MAPS--*/






/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 599px) {

    .header-nav {
        display: none;
    }

    .header-logo {
        display: none;
    }

    .container-right {
        display: none;
    }

    .footer-container {
        flex-direction: column;
        justify-content: space-between;
        height: 70%;

    }

    .main-footer {
        height: 200px;
    }



}

/* Small screen devices (600px to 767) */
@media only screen and (min-width: 600px) and (max-width: 767px) {

    .header-nav {
        display: none;
    }


    .header-logo-icon {
        display: none;
    }

    .mobile-home-img {
        display: none;
    }


}

/* Medium screen devices (768px to 899px) */
@media only screen and (min-width: 768px) and (max-width: 899px) {
    .header-nav {
        display: none;
    }

    .header-logo-icon {
        display: none;
    }

    .mobile-home-img {
        display: none;
    }
}

/* Big screen devices (900px to 1100 px) */
@media only screen and (min-width: 900px) and (max-width: 1199px) {

    .hamburger {
        display: none;
    }

    .header-logo-icon {
        display: none;
    }

    .mobile-home-img {
        display: none;
    }
}


/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {

    .hamburger {
        display: none;
    }

    .header-logo-icon {
        display: none;
    }

    .mobile-home-img {
        display: none;
    }
}