<footer>
    <div class="main-footer">

        <div class="footer-container">

            <ul>
                <li><a href="home.html">About</a></li>
                <li><a href="location map.html">Locations</a></li>
                <li><a href="resources.html">Resources</a></li>

            </ul>

        </div>

    </div>
</footer>
</body>


</html>