<%- include('partials/head') -%>



    <%- include('partials/nav') -%>




        <div class="home-container">

            <div class="home-content">

                <div class="mobile-home-img">
                    <!-- <img src="./images/can-photo-cropped.jpeg" alt="Image of food donations" class="images" width="100%"> -->
                </div>

                <h1>
                    <img src=".\images\homepagelogo.png" alt="Community Fridges Cambridge and Somerville" width="100%">
                </h1>

                <p>Due to the pandemic, job economy, housing market, and increasing food prices... food
                    insecurity has
                    been
                    a major issue for our community. Community fridges and pantries have been made available for
                    the
                    public
                    to have access to free healthy and fresh food, as well as essential supplies. This resource
                    is to
                    help
                    bridge the gap between food resources, volunteers, and people in
                    need.
                </p>


                <div class="homeicon"><img src="images/icon1.png" width="200px" id="foodgraphic"></div>



                <h1>What Is a community fridge?</h1>
                <p>

                    <button class="home-button"><a href="location-map">View a map of local
                            fridges</a></button>
                </p>


                <p>Community fridges act as a
                    grassroots response to a food insecurity crisis. People are
                    unable to acquire,
                    enough food due to insufficient money or other resources, so fridges and pantries were
                    created to
                    help
                    serve the community.These fridges have become popular in various cities across the United
                    States,
                    including New York City, Los Angeles, Chicago, Atlanta, Philadelphia, Austin, Oakland,
                    Washington,
                    D.C.,
                    New Orleans, and Boston. Covid has increased this need, and also provides a no contact
                    option for
                    those
                    at
                    high risk. Volunteers help run these locatings, by networking on social media and utilizing
                    sign up
                    forms. Each location are given sets of donation rules to ensure the health and safety of the
                    consumer,
                    and to eliminate the risk of any foodborne illness.
                </p>

                <div class="homeicon"><img src="images/icon2.png" width="200px" id="foodgraphic"></div>
                <p>It's important to note that community fridge initiatives can vary in their specific
                    implementation
                    and
                    organization. The details may differ depending on the location, local regulations, and the
                    specific
                    needs of the community being served.
                </p>


                <h1>Why is volunteering important?</h1>
                <p>Volunteers are an essential part of fighting hunger in our community. They stock fridges and
                    transport
                    items for people struggling to feed their families. Without their support, we simply could
                    not
                    feed as many people as we do. We encourage you to contribute to a fridge! You can drop off
                    some
                    frozen
                    vegetables, collect donations from others to re-stock an empty fridge, or help clean and
                    maintain
                    the
                    shelves. It is your actions that can make a difference!
                </p>

                <div class="homeicon"><img src="images/icon3.png" width="200px" id="foodgraphic"></div>


                <h1>Where can I find other resources?</h1>
                <br><br>

                <button class="home-button"><a href="resources">View Local Resources</a></button>


                <p>Local resources for aid play a crucial role in supporting both individuals in need and
                    volunteers
                    within
                    a community. From the perspective of a person in need, these resources provide a lifeline,
                    offering
                    essential assistance and support during challenging times. Whether it is access to food
                    banks,
                    shelters,
                    healthcare services, or job training programs, these local resources ensure that basic needs
                    are met
                    and
                    help individuals regain stability and dignity. They serve as vital tools for volunteers to
                    make a
                    meaningful impact in their community.</p>

                <div class="homeicon"><img src="images/icon4.png" width="200px" id="foodgraphic"></div>


            </div>

        </div>


        <%- include('partials/footer') -%>