<%- include('partials/head') -%>
    <%- include('partials/nav') -%>
        <%- include('partials/location-nav') -%>

            <div class="map-container">
                <h1>Coast Community Fridge<br>Riverside (Cambridge) </h1>

                <div class="map-l">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2947.9160755801736!2d-71.1112072!3d42.3656278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e377598fb5d967%3A0x7346076240ddef15!2s5%20Callender%20St%2C%20Cambridge%2C%20MA%2002139!5e0!3m2!1sen!2sus!4v1678242738965!5m2!1sen!2sus"
                        width="100%" height="500px" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="map-s">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2947.9160755801736!2d-71.1112072!3d42.3656278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e377598fb5d967%3A0x7346076240ddef15!2s5%20Callender%20St%2C%20Cambridge%2C%20MA%2002139!5e0!3m2!1sen!2sus!4v1678242464178!5m2!1sen!2sus"
                        width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>






                <div class="fridge-content">
                    <h2>Location Information:</h2>
                    <p>
                        <a href="https://goo.gl/maps/Lb6MRjQvghocXrta9" style="color: #405965"><i
                                class="fa-solid fa-location-dot" style="color: #405965"></i> 5 Callender St, Cambridge,
                            MA
                            02139</a>
                    </p>
                    <p></p>

                    <h2>Links</h2>
                    <p>
                    <table class="flinks">
                        <tr>
                            <td><a href=" https://www.instagram.com/cambridgefridge/">Instagram &nbsp;<i
                                        class="fa-brands fa-instagram"></i></a></td>

                            <td><a
                                    href="https://docs.google.com/forms/d/e/1FAIpQLSfQlRXlaFld0xNYuWUvma_joneI9YmdlfHp3RdvqHnwfFvnGA/viewform">Volunteer
                                    &nbsp;
                                    <i class="fa-solid fa-person-circle-check"></i></a>
                            </td>
                            <td><a href="https://linktr.ee/Cambridgecitygrowers">Linktree &nbsp;<i
                                        class="fa-solid fa-link"></i></i></i></a></td>

                            <td><a
                                    href="https://www.gofundme.com/f/cambridge-city-growers?utm_source=customer&utm_medium=copy_link&utm_campaign=p_cf+share-flow-1">Donate
                                    &nbsp;
                                    <i class="fa-regular fa-credit-card"></i></a>
                            </td>
                        </tr>


                    </table>
                </div>
                </p>

                <h3>Donation Rules and Suggestions</h3>
                <p>
                <ul class="drules">
                    <h3><b>Recommended:</b>
                    </h3>
                    <li>Fresh produce</li>
                    <li>Dairy products (cheese milk eggs)</li>
                    <li>Raw Meat * ONLY IN BOTTOM RACK OF FREEZER *</li>
                    <li>Pantry items</li>
                    <li>Canned goods</li>
                    <li>Cleaning supplies</li>


                    <h3>Guidelines for homemade food include:</h3>
                    <li>Made date</li>
                    <li>Ingredients</li>
                    <li>Estimated expiration</li>
                    <li>Use a tightly sealed container</li>
                    <li>Make sure there is a way to tell if the container has been opened already (such as taping down
                        all
                        four sides or the top of the bag)</li>

                    <h3><b>Not Allowed:</b>
                    </h3>
                    <li>Alcohol</li>
                    <li>Unlabeled or opened meals</li>
                    <li>Prepared and packaged foods that do not follow food donation guidelines</li>
                    <li>Partially consumed packages</li>
                </ul>
                </p>
            </div>
            </div>
            </div>



            <div class="map-container">
                <h1>Update And Feedback About This Fridge:</h1>
                <form id="post-form">
                    <label for="name" class="name">Name </label>
                    <br>
                    <input type="text" id="name" name="name" class="name" required>
                    <p>
                        <input type="radio" id="volunteer" name="role" value="volunteer" checked>
                        <label for="volunteer">Volunteer:</label>

                        <br>
                        <input type="radio" id="community-member" name="role" value="community-member">
                        <label for="community-member">Community Member</label>
                    </p>
                    <p>
                        <label for="content">Content</label>
                        <br>
                        <textarea id="content" name="content" class="textbox" required></textarea>
                    </p>
                    <button type="submit" id="submit-post" class="submit">Submit Post</button>
                </form>

                <div id="post-list">

                </div>


            </div>


            <div class="map-container">


                <div class="forum-posts">
                    <div class="post-container">
                        <h3>Gabriel, Volunteer</h3>

                        <p><a href="/post"></a>I have updated the fridge with some new items! Lots of fresh produce, get
                            it before
                            it is
                            gone!
                            The
                            pantry could use some shelves cleaned. </p>
                    </div>
                    <div class="post-container">

                        <h3>Naomi, Community Member</h3>
                        <p>Hi everyone, could I request some eggs for our next donation? I noticed it keeps
                            flying
                            off
                            the
                            shelves, and I could use some for my cake recipe Thank you!</p>
                    </div>
                </div>
            </div>


            </body>

            <%- include('partials/footer') -%>