<div class="location-container">
    <ul>
        <li><a href="location1.html">Harvard Square</a></li>
        <li><a href="location2.html">The Port</a></li>
        <li><a href="location3.html">Riverside</a></li>
        <li><a href="location4.html">Union Square</a></li>
        <li><a href="location5.html">Winter Hill</a></li>
    </ul>
</div>