<%- include('partials/head') -%>
    <%- include('partials/header') -%>



        <div class="home-container">


            <div class="login-form-container">
                <form class="log-in-form">
                    <h1>Log In</h1>

                    <div class="login-container">
                        <label for="uname">Username:</label>
                        <input type="text" placeholder="Enter Username" name="uname" required>

                        <label for="psw">Password:</label>
                        <input type="password" placeholder="Enter Password" name="psw" required>

                        <button type="submit">LOGIN</button>



                        <button><a href="signup">SIGN UP</a>
                    </div>
                </form>
            </div>


        </div>



        </body>
        <%- include('partials/footer') -%>