<!-- Scroll to top button  -->
<button onclick="topFunction()" class="myBtn" title="Go to top"><i class="fa-solid fa-circle-arrow-up"></i></button>

<header>
    <div class="main-header">

        <div class="header-logo">
            <a href="home.html"><img src="./images/fridgelogo.png" alt="Camberville Community Fridge Resource Logo">
            </a>
        </div>
        <div class="header-logo-icon">
            <a href="home.html"><img src="./images/mobileicon.jpg" alt="Camberville Community Fridge Resource Logo"></a>
        </div>


        <div class="hamburger">
            <div class="dropdown" style="float:right;">
                <button class="dropbtn"><i class="fas fa-bars fa-3x"></i></button>
                <div class="dropdown-content">
                    <a href="home.html">About</a>
                    <a href="location map.html">Locations</a>
                    <a href="resources.html">Resources</a>
                    <a href="login.html">Log In</a>
                </div>
            </div>
        </div>


        <nav class="header-nav">
            <ul>
                <li><a href="home.html">About</a></li>
                <li><a href="location map.html">Locations</a></li>
                <li><a href="resources.html">Resources</a></li>
                <li><a href="login.html">Log In
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    </a></li>
            </ul>
        </nav>

    </div>

</header>