<%- include('partials/head') -%>
    <%- include('partials/nav') -%>

        <div class="map-container">
            <h1>City Assistance Programs</h1>

            <div class="resources">
                <div class="resource-link">
                    <h2><a href="https://www.caasomerville.org/">Community Action Agency Of Somerville (CAAS)</a></h2>
                    <p>A resource to expand and promote opportunities for all Somerville residents in the fields of
                        education, employment, housing, health, and improved neighborhood life.
                    </p>
                </div>

                <div class="resource-link">
                    <h2><a
                            href="https://www.somervillema.gov/departments/covid-19-help-food-housing-and-financial-assistance">Somerville
                            Covid-19 Food, Housing, and Financial Assistance</a></h2>
                    <p>Local resources to aid the Somerville residents impacted by Covid-19.
                    </p>
                </div>

                <div class="resource-link">
                    <h2><a href="https://ceoccambridge.org/">Cambridge Economic Opportunity Committee</a></h2>
                    <p>Cambridge Economic Opportunity Committe has been working to empower people and mobilize resources
                        to
                        fight poverty's causes and impacts through education and organizing.
                    </p>
                </div>

                <div class="resource-link">
                    <h2><a href="https://justastart.org/">Cambridge Just A Start</a></h2>
                    <p>Helping build equitable and thriving communities by guiding individuals and families on their
                        path to
                        economic stability through affordable housing, career training, and comprehensive support
                        services.
                    </p>
                </div>



            </div>
        </div>





        <div class="map-container">

            <h1>Food Assistance Programs</h1>

            <div class="resources">
                <div class="resource-link">
                    <h2><a href="https://www.nutrition.gov/child-nutrition-programs">Child Nutrition Programs</a></h2>
                    <p>Learn about programs that offer food and nutrition assistance for children, including the School
                        Breakfast Program and National School Lunch Program.
                    </p>
                </div>

                <div class="resource-link">
                    <h2><a
                            href="https://www.nutrition.gov/topics/food-security-and-access/food-assistance-programs/food-distribution-programs">Food
                            Distribution Programs</a></h2>
                    <p>Learn about USDA commodity distribution programs, including The Emergency Food Assistance Program
                        and
                        the Food Distribution Program on Indian Reservations.
                    </p>
                </div>

                <div class="resource-link">
                    <h2><a
                            href="https://www.nutrition.gov/topics/food-security-and-access/food-assistance-programs/nutrition-programs-seniors">Nutrition
                            Programs for Seniors</a></h2>
                    <p>Find food and nutrition programs that focus on the needs of older Americans, age 60 and over.
                    </p>
                </div>
                <div class="resource-link">
                    <h2><a
                            href="https://www.nutrition.gov/topics/food-security-and-access/food-assistance-programs/supplemental-nutrition-assistance-program">Supplemental
                            Nutrition Assistance Program (SNAP)</a></h2>
                    <p>SNAP provides nutrition benefits to supplement the food budget of needy families so they can
                        purchase
                        healthy food and move towards self-sufficiency.
                    </p>
                </div>
                <div class="resource-link">
                    <h2><a
                            href="https://www.nutrition.gov/topics/food-security-and-access/food-assistance-programs/wic-women-infants-and-children">WIC</a>
                    </h2>
                    <p>
                        safeguards the health of low-income women, infants, and children up to age 5 by providing
                        supplemental foods, nutrition education, and healthcare referrals.
                    </p>
                </div>
                <div class="resource-link">
                    <h2><a
                            href="https://www.nutrition.gov/topics/food-security-and-access/food-assistance-programs/food-distribution-programs">Food
                            Distribution Programs</a></h2>
                    <p>Learn about USDA commodity distribution programs, including The Emergency Food Assistance Program
                        and
                        the Food Distribution Program on Indian Reservations.
                    </p>
                </div>
                <div class="resource-link">
                    <h2><a href="https://www.fns.usda.gov/programs">FNS Nutrition Programs</a></h2>
                    <p>USDA's Food and Nutrition Service (FNS) works to end hunger and obesity through the
                        administration of
                        15 federal nutrition assistance programs including WIC, Supplemental Nutrition Assistance
                        Program
                        (SNAP), and school meals.
                    </p>
                </div>

                <div class="resource-link">
                    <h2><a href="https://www.usa.gov/food-help">USAGov Food Assistance</a></h2>
                    <p>Find food assistance programs available to certain groups and low-income individuals.
                    </p>
                </div>

                <div class="resource-link">
                    <h2><a href="https://www.feedingamerica.org/find-your-local-foodbank">Find Your Local Food Bank</a>
                    </h2>
                    <p>Search for food pantries and meal programs in your community.
                    </p>
                </div>


            </div>
        </div>



        <div class="map-container">
            <h1>Fuel Assistance Programs</h1>

            <div class="resources">
                <div class="resource-link">
                    <h2><a href="https://www.somervillema.gov/heatingassistance">Cambridge / Somerville Winter
                            Heating Fuel Assistance Program</a></h2>
                    <p>Low-income households may be eligible to receive help with winter heating costs through the
                        Fuel Assistance Program. This program serves residents of Somerville and Cambridge.
                    </p>
                </div>

                <div class="resource-link">
                    <h2><a href="https://www.mass.gov/how-to/apply-for-home-heating-and-energy-assistance">Mass Gov Home
                            Heating and Energy Assistance</a></h2>
                    <p>The Massachusetts home energy assistance program (LIHEAP) is a free resource to help eligible
                        households pay a portion of winter heating bills.
                    </p>
                </div>

                <div class="resource-link">
                    <h2><a
                            href="https://www.eversource.com/content/residential/account-billing/payment-assistance/fuel-assistance">Eversource
                            Fuel Assistance Programs</a></h2>
                    <p>Assistance towards gas, electric, telephone and water bills for Eversource customers.
                    </p>

                </div>
            </div>
        </div>


        <div class="map-container">
            <h1>Housing Assistance Programs</h1>

            <div class="resources">
                <div class="resource-link">
                    <h2><a href="https://www.somervillema.gov/heatingassistance">Cambridge / Somerville Winter
                            Heating Fuel Assistance Program</a></h2>
                    <p>Low-income households may be eligible to receive help with winter heating costs through the
                        Fuel Assistance Program. This program serves residents of Somerville and Cambridge.
                    </p>
                </div>

                <div class="resource-link">
                    <h2><a href="https://www.mass.gov/how-to/apply-for-home-heating-and-energy-assistance">Mass Gov Home
                            Heating and Energy Assistance</a></h2>
                    <p>The Massachusetts home energy assistance program (LIHEAP) is a free resource to help eligible
                        households pay a portion of winter heating bills.
                    </p>
                </div>

                <div class="resource-link">
                    <h2><a
                            href="https://www.eversource.com/content/residential/account-billing/payment-assistance/fuel-assistance">Eversource
                            Fuel Assistance Programs</a></h2>
                    <p>Assistance towards gas, electric, telephone and water bills for Eversource customers.
                    </p>

                </div>
            </div>
        </div>







        </body>

        <%- include('partials/footer') -%>