:root {
    --darkblue: #405965;
    --lightteal: #7eb8b8;
    --lightsand: #f2f4f0;
    --darksand: #d4ccbb;
    --darkgray: #414344;
    --gray: #808080;
    --lightgray: #DEDEDE;

}

/* ************************************************************ */
/* ******************--GENERAL STYLING-- ************************/
/* ************************************************************ */


body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    background-color: var(--darkblue);
}

body a {
    text-decoration: none;
}


h1,
h2,
h3,
h4 {
    font-family: 'Sora', sans-serif;
    /* font-size: 2em; */
    padding: 10px, 0px;
    border-bottom: 4px dotted var(--darkblue);
    display: flex;
    align-items: center;
}

.foodgraphic {
    float: right
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}



/* button to top of page  */

.myBtn {
    padding: 15px;
    border: 2px solid var(--lightteal);
    border-radius: 100%;
    background-color: var(--darkblue);
    font-style: var(--darkblue);
    position: fixed;
    right: .5rem;
    bottom: .5rem;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    transition-duration: 0.4s;
}

.myBtn:hover {
    background-color: var(--lightteal);
    border: 2px solid var(--darkblue);
}





/* ************************************************************ */
/* ***********************--HEADER-- ****************************/
/* ************************************************************ */

.hamburger {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    margin: 0px 10px;
}


header {
    position: sticky;
    top: 0;
    z-index: 2;
}

.main-header {
    display: flex;
    background-color: var(--lightteal);
    border-bottom: 4px solid var(--darkblue);
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    /* padding-right: 2rem; */

}

.main-header button {
    background: none;
    border: none;

}

.header-nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    flex-wrap: wrap;
    font-size: 1.4rem;
}

.header-nav a {
    text-decoration: wavy;
    font-family: 'Sora', sans-serif;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    list-style: none;
    /* padding: 20px 0px; */
    width: 100%;
}

.header-nav li {
    /* padding: 0px 15px; */
    text-decoration: none;
    margin: auto;
}

.header-logo {
    padding: 1px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* .fa-arrow-right-to-bracket:hover {
    color: var(--darkblue);
} */


/* DROP DOWN HAMBURGER MENU  */

.navbar a {
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px;
    position: fixed;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    transition-timing-function: ease;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--darkblue);
    width: 300px;
    z-index: 1;
}

.dropdown-content a {
    color: var(--lightsand);
    border: 3px solid var(--darkblue);
    padding: 20px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.7rem;
    transition-duration: 0.4s;
}


.dropdown-content a:hover {
    background-color: var(--lightteal);
    color: var(--darkblue)
}

.dropdown:hover .dropdown-content {
    display: block;
}



/* ************************************************************ */
/* ******************--LINK STYLING-- ***************************/
/* ************************************************************ */

a:link {
    color: var(--lightsand);
    text-decoration: none;
    font-weight: bold;
}

/* visited link */
a:visited {
    color: var(--lightsand);
}

/* mouse over link */
a:hover {
    color: var(--darkblue);
}

/* selected link */
a:active {
    color: gray;
}

/* color correcting font awesome */
i {
    color: var(--lightsand);
}


/* ************************************************************ */
/* ***********************--FOOTER-- ****************************/
/* ************************************************************ */


.main-footer {
    display: flex;
    justify-content: center;
    background-color: var(--lightteal);
    border-top: 4px solid var(--darkblue);
    width: 100%;
    height: 100px;
    font-family: 'Sora', sans-serif;
}

.footer-container {
    list-style: none;
    width: 100%;
    display: flex;
    max-width: 800px;
    margin: auto;
    flex-wrap: wrap;
    font-size: 1.3rem;

}


.footer-container ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    margin: auto;
}



/* ************************************************************ */
/* *******************--HOME / ABOUT-- **************************/
/* ************************************************************ */

.home-container {
    border: 4px solid var(--darkblue);
    background-color: white;
    border-radius: 10px;
    margin: 3vh auto;
    padding: 10px;
    width: 80%;
    display: flex;
}

.home-content p {
    display: block;
    padding: 40px 20px;
    width: 80%;
    margin: auto;
    font-size: 1.2rem;
}

.home-button {
    display: flex;
    border: 3px solid var(--lightteal);
    border-radius: 3%;
    font-size: larger;
    font-family: 'Sora', sans-serif;
    background-color: var(--lightteal);
    justify-content: center;
    margin: auto;
    width: 200px;
    padding: 5px;
}

.home-button:hover {
    border: 3px solid var(--darkblue);
    transition-duration: 0.4s;

}


.homeicon {
    margin: auto;
    display: flex;
    justify-content: center;
}



.home-content h1 img {
    max-width: 600px;
    margin: auto;
}



/* ************************************************************ */
/* **********************--LOG IN-- *****************************/
/* ************************************************************ */



.login-form-container {
    width: 100%;
    font-family: 'Sora', sans-serif;

}


.login-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Sora', sans-serif;
    width: 100%;
    max-width: 400px;
    padding: 20px 0px 60px 0px;
}


.login-container input {
    height: 30px;
    font-family: 'Sora', sans-serif;
}

.login-container button {
    padding: 5px;
    margin: 5px;
    transition-duration: 0.4s;
}

.login-container label {
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    margin: 5px;
    transition-duration: 0.4s;
}

label {
    color: var(--darkblue);
}

/* styling the login button */
.login-container button {
    padding: 15px 10px;
    font-family: 'Sora', sans-serif;
    background-color: var(--darksand);
    color: var(--darkblue);
    border: none;
    opacity: 0.8;
    margin: 10px;
}

.login-container button a {
    color: var(--darkblue);
}


.login-container button:hover {
    opacity: 1;
    color: var(--darkblue);
    box-shadow: 0px 0px 0px 2px var(--darkblue) inset;

}


/* ************************************************************ */
/* ****************--LOCATION NAVIGATION-- *********************/
/* **************************************************************/
/* ************************************************************ */

.lmap-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    margin: auto;
    width: 100%;
    justify-content: center;
}

.lmap-container button {

    background-color: var(--darkblue);
    border: none;
    color: white;
    width: 200px;
    height: 10rem;
    padding: 3rem;
    text-align: center;
    font-family: 'Sora', sans-serif;
    font-size: 30px;
    display: inline-block;
    border-radius: 3%;
    margin: 7px;
    transition-duration: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lmap-container button:hover {
    background-color: var(--lightteal);
    border-color: var(--darkblue);
    color: var(--darkblue);
    text-decoration: none;
}


.bigmapnav1,
.bigmapnav2 {
    margin: auto;
    padding: 5% 0%;
}


/* ************************************************************ */
/* ****************--LOCATIONS 1,2,3,4,5 -- *********************/
/* **************************************************************/
/* ************************************************************ */



.map-sidebar {
    float: left;
    width: 200px;
    height: 100%;
}

.mapl iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.map-container {

    border: 4px solid var(--darkblue);
    background-color: white;
    border-radius: 10px;
    margin: 1vh auto;
    padding: 10px;
    width: 80%;
    max-width: 800px;
}


.flinks {
    margin: auto;
}



.flinks a {
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    list-style-type: square;
    font-family: 'Quicksand', sans-serif;
    background-color: var(--lightteal);
    color: var(--lightsand);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.flinks td {
    list-style-type: none;
    margin: 10px auto;


}

.drules {
    font-family: 'Quicksand', sans-serif;
}



.location-container {
    background-color: var(--lightsand);
    position: sticky;
    top: 0;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 2;
    cursor: pointer;
}



.location-container ul {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
}

.location-container li {
    display: flex;
    align-items: center;

}

.location-container a {
    margin: 5px;
    padding: 10px 30px;
    background-color: var(--darkblue);
    border: 2px solid var(--darkblue);
    border-radius: 3%;
    font-family: 'Quicksand', sans-srif;
    width: 100%;
    text-decoration: none;
}

.location-container a:hover {
    background-color: var(--lightteal);
    border-color: var(--lightteal);
    color: var(--darkblue);
    transition-duration: 0.4s;
}



/* Posts */

.posts-button-container {
    display: flex;
    justify-content: center;
}

.textbox {
    resize: none;
    width: 97%;
    height: 200px;
    display: flex;
    font-family: 'Quicksand', sans-serif;
}

.post-container {
    border-radius: 1%;
    border: 3px solid var(--darkblue);
    box-shadow: 5px 5px var(--darkblue);
    display: flex;
    margin: 7px;
    flex-direction: column;
    padding: 1rem;
}

.location1-post-list {
    display: flex;
    padding: 1rem;
    flex-direction: column-reverse;
}

.location1-post-list-li {
    border-radius: 1%;
    border: 3px solid var(--darkblue);
    box-shadow: 5px 5px var(--darkblue);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

#name,
.name {
    margin: 2px auto;
    font-family: 'Quicksand', sans-serif;
    width: 90%;
    max-width: 400px;
}

.submit {
    color: var(--lightsand);
    margin: 10px;
    padding: 10px 30px;
    background-color: var(--darkblue);
    border: 2px solid var(--darkblue);
    border-radius: 5%;
    font-family: 'Quicksand', sans-serif;
}

.submit:hover {
    background-color: var(--lightteal);
    color: var(--darkblue);
    border-color: var(--lightteal);
}

#post-list {
    margin-top: 20px;
}


.delete-button {
    padding: 15px 10px;
    font-family: 'Sora', sans-serif;
    background-color: var(--darksand);
    color: var(--darkblue);
    border: none;
    opacity: 0.8;
    margin: 10px;
}

.delete-button a {
    color: var(--darkblue);
}

.delete-button a:hover {

    color: var(--darkblue);
    box-shadow: 0px 0px 0px 2px var(--darkblue) inset;
}


/* ************************************************************ */
/* **********************--SIGN UP -- ***************************/
/* **************************************************************/
/* ************************************************************ */

.signup-radio {
    accent-color: var(--darkblue);
    display: flex;
    align-items: center;
    margin: auto;
}

.signup-radio input {
    width: 20px;
    margin: 0px 10px;
}

.login-container p {
    color: var(--darkblue);
    font-family: 'Sora', sans-serif;
}

/* ************************************************************ */
/* ********************--RESOURCES-- ****************************/
/* **************************************************************/
/* ************************************************************ */


.resources a {
    color: var(--darkblue);
    padding-top: 5%;
}

.resources a:hover {
    color: var(--gray);
}

.resources h2 {
    border-bottom: none;

}


.resources {
    padding-left: 5%;

}

































/* ************************************************************ */
/* *******************--RESPONSIVE-- **************************/
/* ************************************************************ */

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 600px) {

    .bigmapnav1,
    .header-nav,
    .header-logo,
    .map-l {
        display: none;
    }

    .location-container {
        height: fit-content;
        position: static;
        margin: auto;
    }

    .flinks td {
        display: flex;
    }

    .location-container ul {
        width: 100%;
        margin-right: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        justify-content: center;
    }

    location-container li {
        width: 100%;
        margin: 50px;
    }

    .footer-container ul {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        font-size: 2rem;
        padding: 40px;

    }

    .main-footer {
        height: fit-content;
        display: flex;
        flex-direction: column;

        margin: auto;
    }

    #name,
    .name {
        width: 99%;
    }

    #post-list {
        margin-top: 20px;
    }

    .post {
        border: 1px solid #9c1919;
        padding: 10px;
        margin-bottom: 10px;
    }

    .post h2 {
        margin-bottom: 5px;
    }

    .post p {
        margin-bottom: 5px;
        font-style: italic;
        font-size: 12px;
    }
}

/* Small screen devices (600px to 767) */
@media only screen and (min-width: 600px) and (max-width: 767px) {

    .bigmapnav1,
    .hamburger,
    .header-logo,
    .map-s {
        display: none;
    }

    .header-nav {
        width: 100%;
    }

    .footer-container ul {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        font-size: 2rem;
        padding: 40px;

    }

    .main-footer {
        height: fit-content;
        display: flex;
        flex-direction: column;

        margin: auto;
    }
}

/* Medium screen devices (768px to 899px) */
@media only screen and (min-width: 768px) and (max-width: 899px) {

    .bigmapnav2,
    .hamburger,
    .header-logo,
    .mobile-home-img,
    .map-s {
        display: none;
    }

    .header-nav {
        width: 100%;
    }

    .footer-container ul {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        font-size: 2rem;
        padding: 40px;

    }

    .main-footer {
        height: fit-content;
        display: flex;
        flex-direction: column;

        margin: auto;
    }
}

/* Big screen devices (900px to 1100 px) */
@media only screen and (min-width: 900px) and (max-width: 1199px) {


    .bigmapnav2,
    .hamburger,
    .header-logo-icon,
    .mobile-home-img,
    .map-s {
        display: none;
    }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {

    .bigmapnav2,
    .hamburger,
    .header-logo-icon,
    .mobile-home-img,
    .map-s {
        display: none;
    }
}