<%- include('../partials/head') -%>

    <%- include('../partials/nav') -%>



        <section class="main-content" id="main-content">

            <h1 class="heading"> <span>admin</span> </h1>

            <div class="main-content-layout">

                <a href="/admin/admin-posts">
                    <div class="content">
                        <h3 class="text-center">Post Listings</h3>
                    </div>
                </a>



            </div>

        </section>



        <%- include('../partials/footer') -%>