<div class="login-container">

    <h1>Edit Post</h1>
    <form action="/posts/<%= inventoryItem._id %>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" value="<%= inventoryItem.name %>" required>



        <label for="content">Content:</label>
        <textarea name="content" rows="5" required><%= inventoryItem.content %></textarea>

        <button type="submit">Update Post</button>
    </form>
</div>