<%- include('../partials/head') -%>
    <%- include('../partials/nav') -%>

        <div class="home-container">

            <div class="lmap-container">

                <a href="location1"><button>Harvard Square</button></a>
                <a href="/location2.ejs"><button>The Port</button></a>
                <a href="location3"><button>Riverside</button></a>
                <a href="location4"><button>Union Square</button></a>
                <a href="location5"><button>Winter Hill</button></a>

            </div>

        </div>

        <div class="home-container">



            <div class="bigmapnav1">
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Qb6YHAnmIdB0EBT17204M4waQxqjHqI&ehbc=2E312F"
                    width="640" height="480"></iframe>
            </div>

            <div class="bigmapnav2">
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Qb6YHAnmIdB0EBT17204M4waQxqjHqI&ehbc=2E312F"
                    width="100%" height="350"></iframe>
            </div>

        </div>

        <%- include('../partials/footer') -%>