<%- include('../partials/head') -%>
    <%- include('../partials/nav') -%>
        <%- include('../partials/location-nav') -%>

            <div class="map-container">
                <h1>Somerville Community Fridge<br>Winter Hill (Somerville)</h1>

                <div class="map-l">

                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2946.622096201626!2d-71.0921617!3d42.3931963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e370d430054995%3A0xee64f20c04bcbe26!2s36%20Sewall%20St%2C%20Somerville%2C%20MA%2002145!5e0!3m2!1sen!2sus!4v1678245061188!5m2!1sen!2sus"
                        width="100%" height="500px" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="map-s">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2946.622096201626!2d-71.0921617!3d42.3931963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e370d430054995%3A0xee64f20c04bcbe26!2s36%20Sewall%20St%2C%20Somerville%2C%20MA%2002145!5e0!3m2!1sen!2sus!4v1678245061188!5m2!1sen!2sus"
                        width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>






                <div class="fridge-content">
                    <h2>Location Information:</h2>
                    <p>
                        <a href="https://goo.gl/maps/6Upo5zZrCupXsXPy7" style="color: #405965"><i
                                class="fa-solid fa-location-dot" style="color: #405965"></i>&nbsp; 36 Sewall St,
                            Somerville,
                            MA 02145</a>
                    </p>
                    <p></p>

                    <h2>Links</h2>
                    <p>
                    <table class="flinks">
                        <tr>
                            <td><a href=" https://www.instagram.com/cambridgefridge/">Instagram <i
                                        class="fa-brands fa-instagram"></i></a></td>

                            <td><a href="mailto: cambridgecommunityfridge@gmail.com">Email
                                    <i class="fa-regular fa-envelope"></i></a>
                            </td>
                            <td><a href="https://linktr.ee/CambridgeFridge">Linktree <i
                                        class="fa-solid fa-link"></i></i></i></a></td>
                        </tr>


                    </table>
                </div>
                </p>

                <h3>Donation Rules and Suggestions</h3>
                <p>
                <ul class="drules">
                    <h3><b>Recommended:</b>
                    </h3>
                    <li>Fresh produce</li>
                    <li>Dairy products (cheese milk eggs)</li>
                    <li>Prepared packaged meals from commercial kitchens with ingredients, allergens, date, clearly
                        listed</li>
                    <li>Pantry Itema and </li>
                    <li>Cleaning supplies</li>
                    <li>Hygene Products</li>


                    <h3><b>Not Allowed:</b>
                    </h3>
                    <li>Raw meat and seafood</li>
                    <li>Alcohol</li>
                    <li>Unlabeled or opened meals</li>
                    <li>Medicine</li>

                </ul>
                </p>
            </div>



            <div class="map-container">
                <h1>Update And Feedback About This Fridge:</h1>
                <form id="post-form">
                    <label for="name" class="name">Name </label>
                    <br>
                    <input type="text" id="name" name="name" class="name" required>
                    <p>
                        <label for="content">Content</label>
                        <br>
                        <textarea id="content" name="content" class="textbox" required></textarea>
                    </p>
                    <button type="submit" id="submit-post" class="submit">Submit Post</button>
                </form>

                <div id="post-listing">
                    <p id="post-listing"></p>
                </div>


            </div>


            <div class="map-container">


                <div class="forum-posts">
                    <div class="post-container">
                        <h3>Gabriel</h3>

                        <p><a href="/post"></a>I have updated the fridge with some new items! Lots of fresh produce, get
                            it before
                            it is
                            gone!
                            The
                            pantry could use some shelves cleaned. </p>
                    </div>
                    <div class="post-container">

                        <h3>Naomi</h3>
                        <p>Hi everyone, could I request some eggs for our next donation? I noticed it keeps
                            flying
                            off
                            the
                            shelves, and I could use some for my cake recipe Thank you!</p>
                    </div>
                </div>
            </div>


            </body>

            <%- include('../partials/footer') -%>