<%- include('../partials/head') -%>
    <%- include('../partials/nav') -%>



        <div class="home-container">


            <div class="login-form-container">

                <form action="/login" method="POST" class="log-in-form">
                    <h1>Log In</h1>

                    <div class="login-container">

                        <% if (logoutButton) { %>
                            <div class="logoutUname">
                                <p>You are signed in as <%= username %>
                                </p>
                            </div>
                            <button><a href="/logout">Logout</a></button>
                            <% } else { %>
                                <!-- Render the login form -->
                                <form method="POST" action="/login">

                                    <label for="username">Username:</label>
                                    <input type="text" placeholder="Enter Username" name="username" required>

                                    <label for="password">Password:</label>
                                    <input type="password" placeholder="Enter Password" name="password" minlength="4"
                                        maxlength="16" required>

                                    <button type="submit">Login</button>
                                    <br>
                                    <button><a href="/auth/google">LOG IN WITH
                                            GOOGLE</a></button>
                                    <h1>
                                    </h1>
                                    <button><a href="signup">SIGN UP</a></button>
                                </form>
                                <% } %>


                    </div>
                </form>
                </main>
            </div>


        </div>



        </body>
        <%- include('../partials/footer') -%>