<%- include('../partials/head') -%>
    <%- include('../partials/nav') -%>



        <div class="home-container">


            <div class="login-form-container">

                <form action="/login" method="POST" class="log-in-form">
                    <h1>Log In</h1>

                    <div class="login-container">

                        <!-- displaying login or logout depending if user is logged in or not -->

                        <!-- <ul class="nav navbar-nav navbar-right">
                                {{#if currentUser}}
                                  <li><a href="/logout">Logout</a></li>
                                {{else}}
                         <label for="username">Username:</label>
                            <input type="text" placeholder="Enter Username" name="username" required>

                            <label for="password">Password:</label>
                            <input type="password" placeholder="Enter Password" name="password" required>

                            <button type="submit">LOG IN</button>

                  

                            <h1>
                            </h1>
                            <button><a href="signup">SIGN UP</a>
                              </ul> -->

                        <label for="username">Username:</label>
                        <input type="text" placeholder="Enter Username" name="username" required>

                        <label for="password">Password:</label>
                        <input type="password" placeholder="Enter Password" name="password" minlength="4" maxlength="16"
                            required>

                        <button type="submit">LOG IN</button>
                        <br>
                        <button><a href="/auth/google">LOG IN WITH
                                GOOGLE</a></button>
                        <h1>
                        </h1>
                        <button><a href="signup">SIGN UP</a>
                    </div>
                </form>
                </main>
            </div>


        </div>



        </body>
        <%- include('../partials/footer') -%>