<%- include('../partials/head') -%>
    <%- include('../partials/nav') -%>

        <div class="home-container">

            <div class="login-container">
                <main>

                    <form action="/signup" method="POST" class="log-in-form">
                        <h1>Sign Up</h1>
                        <div class="login-container">

                            <label for="username">Choose a username:</label>
                            <input type="text" placeholder="Enter Username" name="username" required />

                            <label for="password">Choose a password:</label>
                            <input type="password" placeholder="Enter Password" name="password" required />
                            <p>
                                <input type="submit" value="SIGN UP" class="signupButton">
                            </p>
                            <h1>
                            </h1>

                            <p>Already have an account?</p>
                            <button><a href="/login">LOGIN</a></button>
                        </div>

                    </form>
                </main>
            </div>


        </div>



        <%- include('../partials/footer') -%>